# kubectl
alias kl="kubectl logs"
alias klf="kubectl logs -f"
alias kfl="klf" # typo master
alias kgp="kubectl get pod"
alias kga="kubectl get all"
alias kgc="kubectl get cm"
alias kgd="kubectl get deploy"
alias kgr="kubectl get rs"
alias kgj="kubectl get job"
alias kgs="kubectl get service"
alias kgn="kubectl get node"
alias kdn="kubectl describe node"
alias kdp="kubectl describe pod"
alias kdc="kubectl describe cm"
alias kdd="kubectl describe deploy"
alias kdr="kubectl describe rs"
alias kdj="kubectl describe job"
alias kds="kubectl describe service"
