bin/*
!bin/ec
*.svn/
*.class
src/main/resources/
.settings/
.project
.classpath
target/
runtime
.config/*
*.dat
.emacs.d/backups/
.emacs.d/elpa/
.emacs.d/places
.emacs.d/auto-save-list/
.emacs.d/url/cookies
*.elc
*~
*#
.#*
.lein/*
!.lein/profiles.clj
.DS_Store
.idea/
*.iml

# python compiled
*.pyc
