[alias]
    dfc = "diff --cached --ignore-all-space --color --word-diff=color"
    ap = "add --patch"
    au = "add --update"
    ss = "stash save -u"
    co = checkout
    coo = checkout --ours
    cot = checkout --theirs
    ci = commit
    df = diff --ignore-all-space --color --word-diff=color
    st = status -sb
    stu = status --untracked-files=no
    #hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    up = !(git add . && git stash && git pull --rebase >&2) | grep -v \"No local changes to save\" && git stash pop

    # check for commits before running pull and push
    in = "!git remote update -p; git log ..@{u}"
    out = log @{u}..
    # append to index new files/updates and remove all what was deleted
    addremove = !git add . && git ls-files --deleted | xargs --no-run-if-empty git rm
    unstage = reset HEAD --
	coh = checkout HEAD
    backup = !file=../`git describe`.tar && echo \"Creating `readlink -f $file`\" && tar cf $file .
    bl = blame -b -w
    cia = commit --amend
    lg = log --pretty=format:'%h was %an, %ar, message: %s' --graph
    who = shortlog -s --
    lsd = log --graph '--pretty=tformat:%Cblue%h%Creset %Cgreen%ar%Creset %Cblue%d%Creset %s' --all --simplify-by-decoration

    sb = show-branch --sha1-name
    ls-del = ls-files -d
    ls-mod = ls-files -m # включая удалённые файлы
    ls-new = ls-files --exclude-standard -o
    ls-ign = ls-files --exclude-standard -o -i
    ka = !gitk --all
    kdo = !gitk --date-order
    kado = !gitk --all --date-order
    kasd = !gitk --all --simplify-by-decoration
    hist = "!git log-hist"
    log-hist = "!git log-pretty --graph"
    log-pretty = "log --first-parent --pretty='format:%C(blue)%h%C(red)%d%C(yellow) %s %C(green)[%an]%Creset, %ar'"
    springcleaning = for-each-ref --sort=-committerdate --format='%(refname:short) %(committerdate:short)'

[help]
	autocorrect = 10
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[diff]
	tool = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge
[core]
	excludesfile = ~/.gitignore
	editor = vim
[svn]
	rmdir = true
[gui]
    ;fontgui = -family \"Lucida Sans\" -size 13 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Consolas -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	fontui = -family Consolas -size 12 -weight bold -slant roman -underline 0 -overstrike 0
	historybrowser = gitk
	;fontdiff = -family fixed -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[merge]
	tool = diffuse
[guitool "diffuse"]
	cmd = diffuse \"$FILENAME\"
	noconsole = yes
[user]
	name = Volodymyr Vitvitskyi
	email = contact.volodymyr@gmail.com
[mergetool]
	keepBackup = true
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[cola]
	savewindowsettings = false
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
