tap "boz/repo"
tap "d12frosted/emacs-plus"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "jabley/wrk2"
tap "johanhaleby/kubetail"
tap "lokalise/brew"
tap "railwaycat/emacsmacport"
tap "twpayne/taps"

{{- if eq .chezmoi.hostname "b-0309.local" }}
cask "osxfuse"
cask "xquartz"
brew "apktool"
brew "circleci"
brew "dex2jar"
brew "gradle"
brew "hub"
brew "minikube", link: false
brew "johanhaleby/kubetail/kubetail"
brew "lokalise/brew/lokalise"
cask "android-sdk"
cask "java"
{{- end}}

brew "readline"
brew "bash"
brew "cask"
brew "cloc"
brew "cmake"
brew "corectl"
brew "ctags"
brew "ctop"
brew "direnv"
brew "docker-machine-driver-xhyve"
brew "jpeg"
brew "ffmpeg"
brew "fpp"
brew "fzf"
brew "gdb"
brew "git"
brew "git-lfs"
brew "global"
brew "gnu-time"
brew "gnupg"
brew "gnuplot"

brew "go"

brew "graphviz"
brew "htop"
brew "httpie"
brew "icdiff"
brew "iftop"
brew "ispell"
brew "jq"
brew "node"
brew "jsonlint"
brew "just"
brew "lastpass-cli"
brew "leveldb"
brew "markdown"
brew "midnight-commander"
brew "mono"
brew "mosh"
brew "mplayer"
brew "ncdu"
brew "nmap"
brew "pngpaste"
brew "pstree"
brew "pv"
brew "pyenv"
brew "qemu"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "rocksdb"
brew "shellcheck"
brew "sshfs"
brew "stern"
brew "tbb"
brew "the_silver_searcher"
brew "tmux"
brew "tree"
brew "upx"
brew "vault"
brew "vim"
brew "vnstat"
brew "watch"
brew "wget"
brew "wrk"
brew "youtube-dl"
brew "boz/repo/kail"
brew "jabley/wrk2/wrk2", args: ["HEAD"]
brew "railwaycat/emacsmacport/emacs-mac"
brew "twpayne/taps/chezmoi"
cask "appcleaner"
cask "docker-toolbox"
cask "dropbox"
cask "firefox"
cask "flux"
cask "font-fira-code"
cask "font-input"
cask "google-chrome"
cask "iterm2"
cask "meld"
cask "ngrok"
cask "postman"
cask "skype"
cask "slack"
cask "spotify"
cask "superproductivity"
