{{- if eq .chezmoi.hostname "b-0309" }}
VERSION=1.14.2_1
{{- else}}
VERSION=1.14.3
{{- end}}


export GOPATH=/usr/local/Cellar/go/$VERSION
export GOROOT=/usr/local/Cellar/go/$VERSION/libexec
export PATH=$GOPATH/bin:$GOROOT/bin:$PATH
