# packages used by Emacs
pundle
pipenv
docker-compose
cookiecutter
jedi>=0.9.0
json-rpc>=1.8.1
service_factory>=0.1.5

# Reformat the buffer according to PEP8 using YAPF
yapf

# importmagic and etc
importmagic
epc

ipython
percol
tox-battery
# May fail due to present README file in the site-packages directory which conflicts with the `readme` library name required by `restview`
restview
wheel
