#!/bin/bash
{{- if eq .chezmoi.os "linux" }}
# arandr - front-end for xrandr
# todo:
# - just
# - direnv
sudo pacman --needed -S \
     yay \
     ripgrep ncdu \
     unrar \
     arandr \
     ttf-ibm-plex \
     pyenv \
     emacs vim jq \
     docker docker-compose \
     htop tmux \
     pyenv autoconf automake binutils findutils file gcc make patch pkgconf fakeroot \
     git

# If we leave yay - it will always try to install the packages
# yay emacs-all-the-icons snap
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
# https://github.com/Homebrew/homebrew-bundle

# Alternative way of installing without Brewfile
brew bundle --file=- <<-EOS
tap "boz/repo"
tap "d12frosted/emacs-plus"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "johanhaleby/kubetail"
tap "railwaycat/emacsmacport"
tap "twpayne/taps"

{{- if eq .chezmoi.hostname "b-0309" }}
tap "lokalise/brew"
cask "osxfuse"
cask "xquartz"
brew "bash"
brew "apktool"
brew "circleci"
brew "cloc"
brew "dex2jar"
brew "gradle"
brew "hub"
brew "leveldb"
brew "fpp"
brew "jpeg"
brew "pngpaste"
brew "markdown"
brew "minikube", link: false
brew "mono"
brew "johanhaleby/kubetail/kubetail"
brew "gnuplot"
brew "upx"
brew "vault"
brew "lokalise/brew/lokalise"
brew "graphviz"
brew "stern"
brew "vnstat"
brew "boz/repo/kail"
cask "android-sdk"
cask "java"
cask "postman"
cask "superproductivity"
{{- end}}

brew "openjdk"
brew "readline"
brew "cask"
brew "cmake"
brew "corectl"
brew "ctags"
brew "ctop"
brew "direnv"
brew "docker-machine-driver-xhyve"
brew "ffmpeg"
brew "fzf"
brew "gdb"
brew "git"
brew "git-lfs"
brew "global"
brew "gnu-time"
brew "gnupg"

brew "go"

brew "htop"
brew "httpie"
brew "icdiff"
brew "iftop"
brew "ispell"
brew "jq"
brew "node"
brew "jsonlint"
brew "just"
brew "lastpass-cli"
brew "midnight-commander"
brew "mosh"
brew "mplayer"
brew "ncdu"
brew "nmap"
brew "pstree"
brew "pv"
brew "pyenv"
brew "qemu"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "rocksdb"
brew "shellcheck"
brew "tbb"
brew "the_silver_searcher"
brew "tmux"
brew "tree"
brew "vim"
brew "watch"
brew "wget"
brew "wrk"
brew "youtube-dl"
brew "railwaycat/emacsmacport/emacs-mac"
brew "twpayne/taps/chezmoi"
cask "appcleaner"
cask "docker-toolbox"
cask "dropbox"
cask "firefox"
cask "flux"
cask "font-fira-code"
cask "font-input"
cask "google-chrome"
cask "iterm2"
cask "meld"
cask "ngrok"
cask "skype"
cask "slack"
cask "spotify"
EOS
{{- end }}
