#!/bin/bash

touch ~/.env.sh
# git clone https://github.com/VundleVim/Vundle.vim.git ~/.vim/bundle/Vundle.vim
git clone https://github.com/syl20bnr/spacemacs ~/.emacs.d

function setup_emacs {
    git clone https://github.com/syl20bnr/spacemacs $HOME/.emacs.d
    cd $HOME/.emacs.d
    git checkout develop
    git pull
}


{{- if eq .chezmoi.os "darwin" }}

# Required to enable key repeat in Joplin (vim mode)
# https://discourse.joplinapp.org/t/how-to-enable-repeating-keys-in-vim-mode/11167/5
# defaults write net.cozic.joplin-desktop ApplePressAndHoldEnabled -bool false
defaults write -g ApplePressAndHoldEnabled -bool false

{{- end}}
