#!/bin/bash
{{- if eq .chezmoi.os "linux" }}
# arandr - front-end for xrandr
# todo:
# - just
# - direnv
sudo pacman --needed -S \
     yay \
     ripgrep ncdu \
     unrar \
     arandr \
     ttf-ibm-plex \
     pyenv \
     emacs vim jq \
     docker docker-compose \
     htop tmux \
     pyenv autoconf automake binutils findutils file gcc make patch pkgconf fakeroot \
     git

# If we leave yay - it will always try to install the packages
# yay emacs-all-the-icons snap
{{- end }}

# Alloy tool for design exploration
# http://alloytools.org/download.html
# Intro video: https://www.youtube.com/watch?v=FvNRlE4E9QQ

{{- if eq .chezmoi.os "darwin" }}
# https://github.com/Homebrew/homebrew-bundle

# Alternative way of installing without Brewfile
brew bundle --file=- <<-EOS
tap "boz/repo"
tap "d12frosted/emacs-plus"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
tap "johanhaleby/kubetail"
tap "twpayne/taps"

{{- if eq .chezmoi.hostname "b-0309" }}
tap "lokalise/brew"
cask "osxfuse"
cask "xquartz"
brew "bash"
brew "apktool"
brew "circleci"
brew "cloc"
brew "dex2jar"
brew "gradle"
brew "hub"
brew "leveldb"
brew "emacs-plus"
brew "fpp"
brew "hugo"
brew "jpeg"
brew "markdown"
brew "minikube", link: false
brew "mono"
brew "johanhaleby/kubetail/kubetail"
brew "gnuplot"
brew "upx"
brew "vault"
brew "lokalise/brew/lokalise"
brew "graphviz"
brew "stern"
brew "vnstat"
brew "boz/repo/kail"
cask "android-sdk"
cask "postman"
# cask "superproductivity"
{{- end}}

brew "pngpaste"
# cask "kitty"
cask "java"
brew "readline"
brew "cask"
brew "cmake"
brew "corectl"
brew "ctags"
brew "ctop"
brew "direnv"
brew "docker-machine-driver-xhyve"
brew "entr"
brew "ffmpeg"
brew "fzf"
brew "gdb"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "global"
brew "gnu-time"
brew "gnupg"

brew "go"

brew "htop"
brew "httpie"
brew "iftop"
brew "ispell"
brew "jq"
brew "node"
brew "jsonlint"
brew "just"
brew "lastpass-cli"
brew "libvterm"
brew "midnight-commander"
brew "mosh"
brew "ncdu"
brew "nmap"
brew "pstree"
brew "pv"
brew "pyenv"
brew "qemu"
brew "reattach-to-user-namespace"
brew "ripgrep"
# brew "rocksdb"
brew "shellcheck"
brew "tbb"
brew "the_silver_searcher"
brew "tmux"
brew "tree"
brew "vim"
brew "watch"
brew "wget"
brew "wrk"
brew "youtube-dl"
brew "twpayne/taps/chezmoi"
cask "appcleaner"
cask "karabiner-elements"
# cask "clipy"
# cask "docker"
cask "dropbox"
cask "firefox"
# installation of flux doesn't work any more
# cask "flux"
cask "font-fira-code"
cask "font-input"
cask "google-chrome"
cask "ngrok"
cask "skype"
cask "slack"
cask "spotify"
EOS
{{- end }}
