#!/bin/sh
{{- if (index . "chezmoi.osRelease") }}
{{- if eq .chezmoi.osRelease.name "arch" }}
sudo groupadd docker
echo "Add user '$USER' to 'docker' group."
sudo usermod -aG docker $USER
newgrp docker
{{- end }}
{{- end }}
