<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<item label="juno"> <action name="Execute">
			<execute>/media/repos/dt/juno/eclipse</execute>
		</action> </item>
		<menu id="1" label="Development">
			<item label="Qt Assistant"> <action name="Execute">
				<execute>assistant</execute>
			</action> </item>
			<item label="Qt Designer"> <action name="Execute">
				<execute>designer</execute>
			</action> </item>
			<item label="Qt Linguist"> <action name="Execute">
				<execute>linguist</execute>
			</action> </item>
		</menu>
		<menu id="2" label="Editors">
			<item label="Emacs"> <action name="Execute">
				<execute>xterm -e emacs</execute>
			</action> </item>
			<item label="Nano"> <action name="Execute">
				<execute>xterm -e nano</execute>
			</action> </item>
			<item label="Vi"> <action name="Execute">
				<execute>xterm -e vi</execute>
			</action> </item>
			<item label="Vim"> <action name="Execute">
				<execute>xterm -e vim</execute>
			</action> </item>
		</menu>
		<menu id="18" label="Games">
			<menu id="9" label="Adventure">
				<item label="Sclient"> <action name="Execute">
					<execute>sclient</execute>
				</action> </item>
			</menu>
			<menu id="10" label="Arcade">
				<item label="PacMan"> <action name="Execute">
					<execute>pacman</execute>
				</action> </item>
			</menu>
		</menu>
		<menu id="6" label="Graphics">
			<item label="scanimage"> <action name="Execute">
				<execute>xterm -e scanimage</execute>
			</action> </item>
		</menu>
		<menu id="5" label="Network">
			<item label="Avahi SSH Server Browser"> <action name="Execute">
				<execute>bssh</execute>
			</action> </item>
			<item label="Avahi VNC Server Browser"> <action name="Execute">
				<execute>bvnc</execute>
			</action> </item>
			<item label="FireFox"> <action name="Execute">
				<execute>firefox</execute>
			</action> </item>
			<item label="FTP"> <action name="Execute">
				<execute>xterm -e ftp</execute>
			</action> </item>
			<item label="Mail"> <action name="Execute">
				<execute>xterm -e mail</execute>
			</action> </item>
			<item label="Skype"> <action name="Execute">
				<execute>skype</execute>
			</action> </item>
			<item label="Talk"> <action name="Execute">
				<execute>xterm -e talk</execute>
			</action> </item>
			<item label="Telnet"> <action name="Execute">
				<execute>xterm -e telnet</execute>
			</action> </item>
			<item label="TkVNC"> <action name="Execute">
				<execute>xterm -e tkvnc</execute>
			</action> </item>
		</menu>
		<menu id="39" label="Other">
			<item label="QT V4L2 test Utility"> <action name="Execute">
				<execute>qv4l2</execute>
			</action> </item>
		</menu>
		<menu id="19" label="Shells">
			<item label="File Manager"> <action name="Execute">
				<execute>pcmanfm</execute>
			</action> </item>
			<item label="GIT"> <action name="Execute">
				<execute>xterm -e git</execute>
			</action> </item>
			<item label="MC"> <action name="Execute">
				<execute>xterm -e mc</execute>
			</action> </item>
			<item label="Tilda"> <action name="Execute">
				<execute>tilda</execute>
			</action> </item>
			<item label="UXTerm"> <action name="Execute">
				<execute>uxterm</execute>
			</action> </item>
			<item label="Xterm"> <action name="Execute">
				<execute>xterm</execute>
			</action> </item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<item label="Openbox Configuration Manager"> <action name="Execute">
					<execute>obconf</execute>
				</action> </item>
				<item label="Panel tint2"> <action name="Execute">
					<execute>tint2conf</execute>
				</action> </item>
				<item label="Preferred Applications"> <action name="Execute">
					<execute>libfm-pref-apps</execute>
				</action> </item>
			</menu>
			<item label="Avahi Zeroconf Browser"> <action name="Execute">
				<execute>avahi-discover</execute>
			</action> </item>
			<item label="Htop"> <action name="Execute">
				<execute>xterm -e htop</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree.x11</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e /usr/bin/pstree.x11</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree</execute>
			</action> </item>
			<item label="Top"> <action name="Execute">
				<execute>xterm -e top</execute>
			</action> </item>
		</menu>
		<menu id="38" label="Utilities">
			<item label="Info"> <action name="Execute">
				<execute>xterm -e info</execute>
			</action> </item>
			<item label="Parcellite"> <action name="Execute">
				<execute>parcellite</execute>
			</action> </item>
			<item label="Xrefresh"> <action name="Execute">
				<execute>xrefresh</execute>
			</action> </item>
			<item label="Xsetroot"> <action name="Execute">
				<execute>xsetroot</execute>
			</action> </item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure"> <action name="Reconfigure"/> </item>
			<separator/>
			<item label="Exit"> <action name="Exit"/> </item>
		</menu>
	</menu>
</openbox_menu>
